@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #FBFCFB;
  display: flex;
  flex-direction: column;
}
h1, h2, h3, h4, p, nav {
  font-family: Raleway, sans-serif;
  color: #151C16;
  margin: 0;
  padding: 10px 0px;
  line-height: 1.5em;
  font-weight: normal;
}
h1 {
  font-family: "Roboto Slab", serif;
  font-size: 6em;
  line-height: 1.2em;
  color: #465D4A;
}
a {
  color: #472a24;
}
header {
  display: flex;
  flex-wrap: wrap;
}
header, nav, main {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
}
header h1 {
  flex: 3;
}
header .profile-image {
  flex: 1;
  padding: 20px 0px 0px;
  text-align: center;
}
header img {
  width: 250px;
  border-radius: 150px;
  outline: 7px solid #628266;
  outline-offset: -2px;
}
section {
  border-top: 8px solid #628266;
  flex: 1;
}
footer {
  background-color: #465D4A;
  text-align: center;
}
footer p {
  color: #FFFFFF;
}
